{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block page_title %}{{ action|trans }}{% endblock %}
{% block content_title %}{{ action|trans }}{% endblock %}

{% block main %}

    <pre>
        {% for line in stdin %}
            {{ line }}
        {% endfor %}
    </pre>

{% endblock %}
