{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block page_title %}{{ 'Shell'|trans }}{% endblock %}
{% block content_title %}{{ 'Shell'|trans }}{% endblock %}

{% block main %}
    <ul class="list-unstyled">
        {% for action in actions %}
            <li>
                <a href="{{ path(action.address) }}" class="btn btn-default">
                    {{ action.name }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <h2>Console php</h2>
    <pre>
        {% for line in stdin %}
            {{ line }}
        {% endfor %}
    </pre>

    <h2>Server php</h2>
    <dl class="dl-horizontal">
        {% for param in phpParams|keys %}
            <dt>{{ param }}</dt>
            <dd>{{ phpParams[param] }}</dd>
        {% endfor %}
    </dl>
{% endblock %}